body {background-color: #EAF6F6;
      margin-top: 0;
      margin-left: 0;
      margin-right: 0;
}
div {
  background-color: #CFF5E7;
}

input { background-color:#EAF6F6 ;}
textarea{ background-color:#EAF6F6 ;}
.checkbox {color:#EAF6F6 ;}
